<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class ="container">
    <h6 class="mt-4 display-6">Log in</h6>
<form class="login-form" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="row mt-3">
    {{ form.subject.errors }}
    <label for="{{ form.username.id_for_label }}" class="col-sm-1 col-form-label">Email:</label>
    <div class="col-sm-8">
    {{ form.username|add_class:"form-control" }}
    </div>
</div>
<div class="row mt-3">
    {{ form.subject.errors }}
    <label for="{{ form.password.id_for_label }}" class="col-sm-1 col-form-label">Password:</label>
    <div class="col-sm-8">
    {{ form.password|add_class:"form-control" }}
    </div>
</div>
<input class="btn btn-secondary mt-4" type="submit" value="Submit">
</form>
</div>
{% endblock %}
