<!-- templates/competition/competition_data_list.html -->
{% extends 'base.html' %}

{% block title %}Competition Data{% endblock title %}

{% block content %}
<div class="container">
    <h6 class="mt-4 display-6">Competition Results</h6>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Competition</th>
                <th scope="col">Date</th>
                <th scope="col">Match Number</th>
                <th scope="col">Qualification Score</th>
            </tr>
        </thead>

        <tbody>
            {% for data in competition_data %}
            <tr>
                <td>{{ data.competition_name }}</td>
                <td>{{ data.date }}</td>
                <td>{{ data.match_number }}</td>
                <td>{{ data.qual_score }}</td>
                {% if data.user == request.user %}
                <td><a type="button" class="btn btn-outline-secondary btn-sm" href="{% url 'record:competition_data_edit' pk=data.pk %}" role="button">Edit</a>
                <a type="button" class="btn btn-outline-danger btn-sm" href="{% url 'record:competition_data_delete' pk=data.pk %}" role="button">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
