<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>10m Air Rifle Performance Tracker</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="http://kit.fontawesome.com/ec2e350e9c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      const menuIconEl = $('.menu-icon');
      const sidenavEl = $('.sidenav');
      const sidenavCloseEl = $('.sidenav_close-icon');

      // Add and remove provided class names
      function toggleClassName(el, className) {
        if (el.hasClass(className)) {
          el.removeClass(className);
        } else {
          el.addClass(className);
        }
      }

      // Open the side nav on click
      menuIconEl.on('click', function() {
        toggleClassName(sidenavEl, 'active');
      });

      // Close the side nav on click
      sidenavCloseEl.on('click', function() {
        toggleClassName(sidenavEl, 'active');
      });
    </script>
    <div class="grid-container">
      <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
      <header class="header">
          {% if user.is_authenticated %}
            Hello, {{ user.get_username }}
          {% else %}
            Hello, User
          {% endif %}
        <div class="header_login">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out.</a>
            {% else %}
              <a href="{% url 'login' %}">Please log in.</a>
            {% endif %}
        </div>
      </header>
      <aside class = "sidenav">
        <div class="sidenav_close-icon">
          <i class="fas fa-times"></i>
        </div>
        <ul class="sidenav_list">
            <li class="sidenav_list-item">
              <a href="{% url 'record:dashboard' %}">Dashboard</a>
            </li>
            <li class="sidenav_list-item">
              <a href="#">SCATT Records</a>
            </li>
            <li class="sidenav_list-item">
              <a href="#">Competition Records</a>
            </li>
            <li class="sidenav_list-item">Item Four</li>
            <li class="sidenav_list-item">Item Five</li>
          </ul>
      </aside>
      <main class="main">
      {% block content %}
      {% endblock content %}
      </main>
      <footer class="footer">
        <div class="footer_copyright">&copy; 2023 MWK</div>
        <div class="footer_signature">Made with Django</div>
      </footer>
    </div>
  </body>
</html>
