<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="custom-overview">
  <div class="container mt-2 h-100 d-flex">

    <div class="row h-25 align-items-center">
      <div class="col">
        {% if user.is_authenticated %}
        <p class="lead">Hello, {{ user.get_username }}</p>
        {% else %}
        <p class="lead">Hello, User. Please Log In</p>
        {% endif %}
      </div>
    </div>
</section>

<section class="custom-score-overview">
  <div class="container mt-2">
    <div class="row">
      <div class="col">
        <h1 class="h4 text-muted mb-3">Training Scores</h1>
      </div>
      <div class="col">
        <h1 class="h4 text-muted md-3">Competition Scores</h1>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-start">
        <div class="card me-3" style="width: 9rem;">
          <div class="card-body">
            <h5 class="card-title">PB</h5>
            <p class="card-text">{{ training_pb.score__max }}</p>
          </div>
        </div>

        <div class="card ms-3" style="width: 9rem;">
          <div class="card-body">
            <h5 class="card-title">Avg. Top 3</h5>
            <p class="card-text">{{ training_top3_avg.score__avg|floatformat:2 }}</p>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-start">
        <div class="card me-3" style="width: 9rem;">
          <div class="card-body">
            <h5 class="card-title">PB</h5>
            <p class="card-text">{{ comp_pb.qual_score__max }}</p>
          </div>
        </div>

        <div class="card ms-3" style="width: 9rem;">
          <div class="card-body">
            <h5 class="card-title">Avg. Top 3</h5>
            <p class="card-text">{{ comp_top3_avg.qual_score__avg|floatformat:2 }}</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="score-charts">
  <div class="container mt-4">
    <div class="row">
      <div class="col">
          <canvas id="trainingScores"></canvas>
      </div>
      <div class="col">
          <canvas id="compScores"></canvas>
      </div>

      <script>
        const data = {
            labels: [{% for item in training_data %}"{{ item.date }}",{% endfor %}],
                datasets: [{
                    label: "Scores",
                    data: [{% for item in training_data %}{{ item.score}},{% endfor %}],
                    backgroundColor: ['rgba(7, 7, 7, 1)'],
                    borderColor: ['rgba(7, 7, 7, 1)'],
                    borderWidth: 3
                },
              ]
        };

        const config = {
            type: 'line',
            data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                      position: 'bottom',
                      display: false,
                    },
                    title: {
                      display: false,
                      text: 'Training Scores'
                    }
                },
                scales: {
                    y: {
                      suggestedMin: 600,
                      suggestedMax: 650,
                    }
                }
            }
        };

        const trainingScores = new Chart(document.getElementById('trainingScores'), config);


    const data2 = {
        labels: [{% for data in competition_data %}"{{ data.date }}",{% endfor %}],
            datasets: [{
                label: "Scores",
                data: [{% for data in competition_data %}{{ data.qual_score }},{% endfor %}],
                backgroundColor: ['rgba(7, 7, 7, 1)'],
                borderColor: ['rgba(7, 7, 7, 1)'],
                borderWidth: 3
            },
          ]
    };

    const config2 = {
        type: 'line',
        data: data2,
        options: {
            responsive: true,
            plugins: {
                legend: {
                  position: 'bottom',
                  display: false,
                },
                title: {
                  display: false,
                  text: 'Competition Scores'
                }
            },
            scales: {
              y: {
                suggestedMin: 600,
                suggestedMax: 650,
              }
          }
        }
    };

    const compScores = new Chart(document.getElementById('compScores'), config2);
  </script>
  </div>
  </div>
  </section>

</section>

<section class="custom-scatt-overview">
  <div class="container mt-4">
    <div class="row">
      <div class="col d-flex justify-content-start">
        <h1 class="h4 text-muted mb-3">SCATT</h1>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">10.0</h5>
              <p class="card-text">{{ training_data_avgs.ten_zero__avg|floatformat:2 }} %</p>
            </div>
          </div>

          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">10a.0</h5>
              <p class="card-text">{{ training_data_avgs.ten_azero__avg|floatformat:2 }} %</p>
            </div>
          </div>

          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">10.5</h5>
              <p class="card-text">{{ training_data_avgs.ten_five__avg|floatformat:2 }} %</p>
            </div>
          </div>

          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">10a.5</h5>
              <p class="card-text">{{ training_data_avgs.ten_azero__avg|floatformat:2 }} %</p>
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">T</h5>
              <p class="card-text">{{ training_data_avgs.aiming_time__avg|floatformat:2 }}</p>
            </div>
          </div>

          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">S1</h5>
              <p class="card-text">{{ training_data_avgs.s1__avg|floatformat:2 }}</p>
            </div>
          </div>

          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">S2</h5>
              <p class="card-text">{{ training_data_avgs.s2__avg|floatformat:2 }}</p>
            </div>
          </div>

          <div class="card mx-2" style="width: 7rem;">
            <div class="card-body">
              <h5 class="card-title">DA</h5>
              <p class="card-text">{{ training_data_avgs.da__avg|floatformat:2 }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
 </div>
</section>

<section class="training-charts">
<div class="container mt-4">
  <div class="row">
    <div class="col">
        <canvas id="scatt1"></canvas>
    </div>
    <div class="col">
        <canvas id="scatt2"></canvas>
    </div>

    <script>
      const data3 = {
          labels: [{% for item in training_data %}"{{ item.date }}",{% endfor %}],
              datasets: [{
                  label: "10a0",
                  data: [{% for item in training_data %}{{ item.ten_azero }},{% endfor %}],
                  backgroundColor: ['rgba(7, 7, 7, 1)'],
                  borderColor: ['rgba(7, 7, 7, 1)'],
                  borderWidth: 3
              },
              {
                  label: "10a5",
                  data: [{% for item in training_data %}{{ item.ten_afive }},{% endfor %}],
                  backgroundColor: ['rgba(7, 7, 7, 0.33)'],
                  borderColor: ['rgba(7, 7, 7, 0.33)'],
                  borderDash: [5, 5],
                  borderWidth: 3
              }]
      };

      const config3 = {
          type: 'line',
          data: data3,
          options: {
              responsive: true,
              plugins: {
                  legend: {
                    position: 'bottom',
                  },
                  title: {
                    display: true,
                    text: 'Stability of Hold'
                  }
              },
              scales: {
                y: {
                  suggestedMin: 70,
                  suggestedMax: 100,
                }
            }
          }
      };

      const scatt1 = new Chart(document.getElementById('scatt1'), config3);


  const data4 = {
      labels: [{% for item in training_data %}"{{ item.date }}",{% endfor %}],
          datasets: [{
              label: "10.0",
              data: [{% for item in training_data %}{{ item.ten_zero }},{% endfor %}],
              backgroundColor: ['rgba(7, 7, 7, 1)'],
              borderColor: ['rgba(7, 7, 7, 1)'],
              borderWidth: 3
          },
          {
              label: "10.5",
              data: [{% for item in training_data %}{{ item.ten_five }},{% endfor %}],
              backgroundColor: ['rgba(7, 7, 7, 0.33)'],
              borderColor: ['rgba(7, 7, 7, 0.33)'],
              borderDash: [5, 5],
              borderWidth: 3
          }]
  };

  const config4 = {
      type: 'line',
      data: data4,
      options: {
          responsive: true,
          plugins: {
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Aiming Accuracy'
              }
          },
          scales: {
            y: {
              suggestedMin: 70,
              suggestedMax: 100,
            }
        }
      }
  };

  const scatt2 = new Chart(document.getElementById('scatt2'), config4);
</script>
</div>
</div>
</section>
{% endblock %}
