<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="main-header">
    <div class="main-header_heading">Hello</div>
    <div class="main-header_updates">Recent Items</div>
</div>
<div class="main-overview">
    <div class="overviewcard">
      <div class="overviewcard_icon">Overview</div>
      <div class="overviewcard_info">Card</div>
    </div>
    <div class="overviewcard">
      <div class="overviewcard_icon">Overview</div>
      <div class="overviewcard_info">Card</div>
    </div>
    <div class="overviewcard">
      <div class="overviewcard_icon">Overview</div>
      <div class="overviewcard_info">Card</div>
    </div>
    <div class="overviewcard">
      <div class="overviewcard_icon">Overview</div>
      <div class="overviewcard_info">Card</div>
    </div>
  </div>
  <div class="main-cards">
    <div class="card">Card</div>
    <div class="card">Card</div>
    <div class="card">Card</div>
  </div>
{% endblock %}
